svg(width='28px', height='28px', viewbox='0 0 28 28', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
  title all_min
  g#Styleguide(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
    g(id='02_01_Second-proposal-#2', sketch:type='MSArtboardGroup', transform='translate(-30.000000, -101.000000)', stroke='#FFFFFF')
      g#all_min(sketch:type='MSLayerGroup', transform='translate(31.000000, 102.000000)')
        circle#Oval-6(fill='#FFFFFF', sketch:type='MSShapeGroup', cx='13', cy='13', r='13')
        path#Oval-5(d='M20.6424365,23.5174622 C18.4973383,25.078868 15.8562401,26 13,26 C10.1408573,26 7.49729401,25.0769949 5.35102528,23.5126999 C5.35616485,23.5157039 5.35879172,23.5172209 5.35879172,23.5172209 L12.9999995,13 L20.6412083,23.5172209 C20.6412083,23.5172209 20.6416198,23.5173052 20.6424365,23.5174622 Z', fill='#F44336', sketch:type='MSShapeGroup')
        path#Oval-1(d='M13,0 C7.1843333,0 2.26060446,3.81883989 0.599648246,9.08568486 C0.623290506,9.01855468 0.636265288,8.98277907 0.636265288,8.98277907 L12.9999995,13 L13,0 Z', fill='#03A9F4', sketch:type='MSShapeGroup')
        path#Oval-1(d='M13,0 C18.8156667,0 23.7393955,3.81883989 25.4003518,9.08568486 C25.3767095,9.01855468 25.3637347,8.98277907 25.3637347,8.98277907 L13.0000005,13 L13,0 Z', fill='#3F51B5', sketch:type='MSShapeGroup')
        path#Oval-3(d='M7.63867216,23.5467443 C10.8878189,21.1834812 13.0000005,17.3516752 13.0000005,13.0265428 C13.0000005,11.6211191 12.7769788,10.2677848 12.3643955,9 L12.3637352,9.00932187 L0,13.0265428 L7.64120875,23.5437637 C7.64120875,23.5437637 7.64035873,23.5447686 7.63867216,23.5467443 Z', fill='#4CAF50', sketch:type='MSShapeGroup', transform='translate(6.500000, 16.273372) scale(-1, 1) translate(-6.500000, -16.273372) ')
        path#Oval-3(d='M20.6386717,23.5202015 C23.8878184,21.1569384 26,17.3251324 26,13 C26,11.5945763 25.7769784,10.241242 25.364395,8.97345721 L25.3637347,8.98277907 L12.9999995,13 L20.6412083,23.5172209 C20.6412083,23.5172209 20.6403583,23.5182258 20.6386717,23.5202015 Z', fill='#FFC107', sketch:type='MSShapeGroup')
