.ac-drawer
    style.
        .ac-drawer-tools {
            z-index: -200;
        }

        .ac-date-filters {
            background-color: transparent;
        }

        .ac-date-filters ul {
            position: relative;
            width: 150px;
        }

        .ac-date-filters ul.expanded {
            right: 100px;
        }

        .ac-date-filters ul li {
            color: rgba(255, 255, 255, 0.2);
        }

        .ac-date-filters ul li.on {
            color: rgb(0, 86, 183);
        }

        .ac-date-filters ul li i {
            padding-top: 5px;
            margin-left: 8px;
        }

        .ac-date-filters ul li span {
            display: block;
            font-size: 0.7em;
            padding-left: 4px;
        }

    a.ac-drawer-close.visible-xs(ng-click="drawer.visible = false")
        i.fa.fa-close.fa-lg
    .ac-drawer-tools
        ul
            li(ng-click="toggleFilter()", ng-class="{on: filters.obsPeriod !== ''}", style="padding-top: 11px; padding-left: 15px;")
                i.fa.fa-map-marker.fa-inverse.fa-2x
            li.ac-date-filters(ng-click="expanded = true", style="background-color: transparent;")
                ul.list-inline(ng-class="{expanded: expanded}", ng-init="expanded = false")
                    li(ng-repeat="dateFilter in dateFilters", ng-click="toggleFilter('obsPeriod:'+dateFilter)", ng-class="{on: filters.obsPeriod === dateFilter}")
                        i.fa.fa-calendar.fa-inverse.fa-2x
                        span {{ dateFilter }}
    .ac-drawer-body(ng-transclude)
