.panel
    div(ng-show="forecast.externalUrl")
      <ac-forecast-mini-external forecast='forecast' />

    div(ng-hide="forecast.externalUrl")
      <ac-forecast-mini-avalx forecast='forecast' danger-rating='dangerRating' disclaimer='disclaimer' sponsor='sponsor' />
