.panel
    .row
        .pull-right.close-drawer(ng-click="closeDrawer()", style="margin-right: 35px;")
            i.fa.fa-close
    div(ng-show="forecast.externalUrl")
      <ac-forecast-mini-external forecast='forecast' />

    div(ng-show="forecast.parksUrl")
      <ac-forecast-mini-parks forecast='forecast' />

    div(ng-hide="forecast.externalUrl || forecast.parksUrl")
      <ac-forecast-mini-avalx forecast='forecast' danger-rating='dangerRating' disclaimer='disclaimer' sponsor='sponsor' />
