.panel-body(style="min-height: 500px;")
    .row
        .col-xs-12
            h3.ac-forecast-region {{ forecast.name }}
    .row
        .col-xs-12
            p
                | Avalanche information for this region is available &nbsp;
                a(ng-href="{{forecast.parksUrl}}", target="_blank")
                  i.fa.fa-external-link here.
