.panel
    .panel-body.ac-forecast-mini-body
        .row
            .col-xs-1
                .pull-left.close-drawer(ng-click="closeDrawer()")
                    i.fa.fa-close
            .col-xs-6(style="margin: 10px 0; padding: 0;")
                h4.ac-forecast-region {{ region.name }} Pilot Project
            .col-xs-5
                a.pull-right(target='_blank', href='{{sponsor.getText("sponsor.url")}}')
                    img(src='{{sponsor.getText("sponsor.image-229")}}')
        .row
            .col-sm-12.section-label.full-page-link(ng-if='hotZone !== "default"', style="margin: 10px 0;")
                div.pull-right(ng-click='viewFullPage(hotZone.subid)')
                    i.fa.fa-external-link
                    span &nbsp; FULL PAGE

        .row.ac-forecast-dates
            .col-md-6
                dl
                    dd.small
                        strong.ac-text-primary DATE ISSUED
                    dt.small
                        span.ac-text-default {{ formatDate(hotZone.report.dateissued) || 'N/A'| date:'EEEE MMMM d, y h:mm a'  | uppercase }}
            .col-md-6
                dl
                    dd.small
                        strong.ac-text-primary VALID UNTIL
                    dt.small
                        span.ac-text-default {{ formatDate(hotZone.report.datevalid)  || 'N/A'| date:'EEEE MMMM d, y h:mm a' | uppercase }}
        .row(ng-if='hotZone !== "default"')
            .col-xs-12
                h3.ac-hot-zone-headline {{ hotZone.report.headline }}
        .row(ng-if='hotZone === "default"')
            .col-xs-12
                h3.ac-hot-zone-headline A Hot Zone Report is not <br> available at this time.
        .row(ng-if="hotZone.report.uploads.length > 0")
            .col-sm-12.section-label
                i.fa.fa-camera
                span    Uploads (click/tap to enlarge)

            .col-sm-12
                ul.list-inline
                    li(ng-repeat="url in hotZone.report.thumbs")
                        a(ng-href="{{url}}", target="_blank")
                            img(ng-src="{{url}}", width="75", alt="{{hotZone.report.headline}}")
        .row
            .col-xs-12
                #infoAccordion.panel-group
                    .panel.panel-primary(ng-if='hotZone !== "default"')
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#criticalSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | Critical Factors Summary
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #criticalSummary.panel-collapse.collapse
                            .panel-body
                                .row
                                    .col-xs-12
                                        | Critical factors influence avalanche hazard. The more critical factors, the greater the potential for avalanches.
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right Persistent avalanche problem:
                                    .col-xs-6.sm-pad-left
                                        | {{ hotZone.report.data.criticalFactors.persistentAvalancheProblem || 'N/A' }}
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right Slab avalanches in the last 48 hours:
                                    .col-xs-6.sm-pad-left
                                        | {{ hotZone.report.data.criticalFactors.slabAvalanches || 'N/A' }}
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right Signs of instability:
                                    .col-xs-6.sm-pad-left
                                        | {{ hotZone.report.data.criticalFactors.instability || 'N/A' }}
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right  Recent snowfall > 30cm:
                                    .col-xs-6.sm-pad-left
                                        | {{ hotZone.report.data.criticalFactors.recentSnowfall || 'N/A' }}
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right  Recent rainfall:
                                    .col-xs-6.sm-pad-left
                                        | {{ hotZone.report.data.criticalFactors.recentRainfall || 'N/A' }}
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right  Recent windloading:
                                    .col-xs-6.sm-pad-left
                                        | {{ hotZone.report.data.criticalFactors.recentWindloading || 'N/A' }}
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right  Significant warming:
                                    .col-xs-6.sm-pad-left
                                        | {{ hotZone.report.data.criticalFactors.significantWarming || 'N/A' }}
                                .row
                                    .col-xs-6.sm-pad-right
                                        strong.pull-right.text-right Comments:
                                .row
                                    .col-xs-12.text-center
                                        | {{ hotZone.report.data.criticalFactors.criticalFactorsComments || 'N/A' }}
                    .panel.panel-primary(ng-if='hotZone !== "default"')
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#terrainSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | Terrain and Travel Advice
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #terrainSummary.panel-collapse.collapse
                            .panel-body
                                .row
                                    .col-xs-12
                                        | To minimize risk, always:
                                        ul
                                            li Expose only one person at a time in avalanche terrain.
                                            li Group up only in safe locations well away from avalanche runout zones.
                                            li Avoid terrain traps whenever possible.
                                .row
                                    .col-xs-12
                                        | And while this report is valid:
                                        ul
                                            li
                                                | AVOID terrain features marked with a &nbsp;
                                                i.fa.fa-check-square-o.terrain-highlight
                                            li Follow the advice in the comments section.
                                .row
                                    .col-xs-12.terrain-title
                                        h4 ALPINE
                                .row
                                    .col-xs-6
                                        .row
                                            .col-xs-12
                                                strong Aspect:
                                        .row
                                            .col-xs-12
                                                ul.terrain-list
                                                    li(ng-repeat="(name, value) in hotZone.report.data.alpineTerrainAvoidance.aspect", ng-class="{'terrain-highlight': value}")
                                                        .row
                                                            .col-xs-2.sm-pad-right.terrain-icon
                                                                i.fa.pull-right(ng-class="{'fa-square-o': !value, 'fa-check-square-o': value}")
                                                            .col-xs-10.sm-pad-left
                                                                span.pull-left {{ name }}
                                    .col-xs-6
                                        .row
                                            .col-xs-12
                                                strong Terrain features:
                                        .row
                                            .col-xs-12
                                                ul.terrain-list
                                                    li(ng-repeat="(name, value) in hotZone.report.data.alpineTerrainAvoidance.terrainFeatures", ng-class="{'terrain-highlight': value}")
                                                        .row
                                                            .col-xs-2.sm-pad-right.terrain-icon
                                                                i.fa.pull-right(ng-class="{'fa-square-o': !value, 'fa-check-square-o': value}")
                                                            .col-xs-10.sm-pad-left
                                                                span.pull-left {{ name }}
                                .row
                                    .col-xs-12
                                        strong Comments:
                                    .col-xs-12
                                        | {{ hotZone.report.data.alpineTerrainAvoidance.terrainAvoidanceComments || 'N/A' }}
                                .row
                                    .col-xs-12.terrain-title
                                        h4 TREELINE
                                .row
                                    .col-xs-6
                                        .row
                                            .col-xs-12
                                                strong Aspect:
                                        .row
                                            .col-xs-12
                                                ul.terrain-list
                                                    li(ng-repeat="(name, value) in hotZone.report.data.treelineTerrainAvoidance.aspect", ng-class="{'terrain-highlight': value}")
                                                        .row
                                                            .col-xs-2.sm-pad-right.terrain-icon
                                                                i.fa.pull-right(ng-class="{'fa-square-o': !value, 'fa-check-square-o': value}")
                                                            .col-xs-10.sm-pad-left
                                                                span.pull-left {{ name }}
                                    .col-xs-6
                                        .row
                                            .col-xs-12
                                                strong Terrain features:
                                        .row
                                            .col-xs-12
                                                ul.terrain-list
                                                    li(ng-repeat="(name, value) in hotZone.report.data.treelineTerrainAvoidance.terrainFeatures", ng-class="{'terrain-highlight': value}")
                                                        .row
                                                            .col-xs-2.sm-pad-right.terrain-icon
                                                                i.fa.pull-right(ng-class="{'fa-square-o': !value, 'fa-check-square-o': value}")
                                                            .col-xs-10.sm-pad-left
                                                                span.pull-left {{ name }}
                                .row
                                    .col-xs-12
                                        strong Comments:
                                    .col-xs-12
                                        | {{ hotZone.report.data.treelineTerrainAvoidance.terrainAvoidanceComments || 'N/A' }}
                                .row
                                    .col-xs-12.terrain-title
                                        h4 BELOW TREELINE
                                .row
                                    .col-xs-6
                                        .row
                                            .col-xs-12
                                                strong Aspect:
                                        .row
                                            .col-xs-12
                                                ul.terrain-list
                                                    li(ng-repeat="(name, value) in hotZone.report.data.belowTreelineTerrainAvoidance.aspect", ng-class="{'terrain-highlight': value}")
                                                        .row
                                                            .col-xs-2.sm-pad-right.terrain-icon
                                                                i.fa.pull-right(ng-class="{'fa-square-o': !value, 'fa-check-square-o': value}")
                                                            .col-xs-10.sm-pad-left
                                                                span.pull-left {{ name }}
                                    .col-xs-6
                                        .row
                                            .col-xs-12
                                                strong Terrain features:
                                        .row
                                            .col-xs-12
                                                ul.terrain-list
                                                    li(ng-repeat="(name, value) in hotZone.report.data.belowTreelineTerrainAvoidance.terrainFeatures", ng-class="{'terrain-highlight': value}")
                                                        .row
                                                            .col-xs-2.sm-pad-right.terrain-icon
                                                                i.fa.pull-right(ng-class="{'fa-square-o': !value, 'fa-check-square-o': value}")
                                                            .col-xs-10.sm-pad-left
                                                                span.pull-left {{ name }}
                                .row
                                    .col-xs-12
                                        strong Comments:
                                    .col-xs-12
                                        | {{ hotZone.report.data.belowTreelineTerrainAvoidance.terrainAvoidanceComments || 'N/A' }}

                    .panel.panel-primary(ng-if='hotZone === "default"')
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#noDataSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | More Information
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #noDataSummary.panel-collapse.collapse
                            .panel-body(ng-bind-html='noDataSummary')
                    .panel.panel-primary(style="margin-bottom: 10px;")
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#infoSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | About
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #infoSummary.panel-collapse.collapse
                            .panel-body(ng-bind-html='infoSummary')
