.min-form
    form(name="acHotZoneForm", novalidate, ng-if="!report.subid", role="form", ac-submission-form-validator)
        div.form-fields.col-xs-12.no-padding
          div.col-xs-12.col-md-4.form-left-column
            .required-info.clearfix
              h3.form-subtitle Step 1. Required Info

              .required-info-data.col-xs-12
                .form-group(ng-class="{'has-error': !acHotZoneForm.title.$valid && acHotZoneForm.title.$dirty }")
                  h4
                    | Headline
                  input.form-control(type="text", name="title", ng-model="report.headline", placeholder="e.g. two - three sentences", required)
                .form-group(ng-class="{'has-error': !acHotZoneForm.dateissued.$valid}")
                  h4
                    |  Date of issue
                  input.form-control(type="datetime", name="dateissued", ng-model="report.dateissued", ac-datetime-picker, max-date-today="true")
                .form-group(ng-class="{'has-error': !acHotZoneForm.datevalid.$valid}")
                  h4
                    |  Valid until
                  input.form-control(type="datetime", name="datevalid", ng-model="report.datevalid", ac-datetime-picker, max-date-today="false")
                .form-group(ng-class="{'has-error': invalidLocation}")
                  h4
                    |  Region
                  .radio.col-md-6.col-xs-12(ng-repeat="option in hotZones", style="margin-top: 10px;")
                    label(style="color: black;")
                      input(type="radio", ng-model="report.hotzoneid", value="{{option.properties.id}}", ng-click="invalidLocation = false")
                      | {{option.properties.name}}
            .uploads
              h3.form-subtitle Step 2. Uploads

              p Add a photo (.jpg or .png).

              div.help-text
                p
                  i.fa.fa-question-circle
                  | If uploading more than one photo, select all and submit photos together.

              .form-group
                .col-xs-12.no-padding.btn-file
                  .col-xs-3.no-padding
                      span.btn.btn-default.btn-styled
                        | Browse
                  input.col-xs-9.no-padding(type="text", readonly="readonly", placeholder=".jpg or .png" value="{{ report.files.length ? report.files.length + ' photos added' : null}}")
                  input(type="file", name="uploads", file-model="report.files", accept=".png,.jpg,.jpeg", multiple)


          div(class="col-xs-12 col-md-8 form-right-column")
            .row
              .col-xs-12
                h3.form-subtitle(style="margin: 7.5px 0;")#top Step 3. Report Details
            .row
              .col-xs-12
                h4.form-subsection Critical Factors Summary
            .fields-group.col-xs-12.no-padding(style='margin: 0;')
              .field.col-xs-12(ng-repeat="(item, av) in report.data.criticalFactors.fields", ng-if="av.type!=='calculated'")

                h4.field-title.col-xs-12.no-padding(ng-if="av.title === undefined && av.subTitle === undefined")
                  strong {{ ::av.prompt }}
                h4.field-title.col-xs-12.no-padding(ng-if="av.title !== undefined && av.title !== null")
                  strong {{ ::av.title }}

                h5.col-xs-12.no-padding(ng-if="av.subTitle !== undefined") {{ ::av.subTitle }}

                .options.col-xs-12.col-md-8
                  .help-text(ng-if="av.helpText")
                    p
                      i.fa.fa-question-circle
                      span {{ ::av.helpText}}
                      span(ng-if="av.guidelines")
                        a(href="{{ ::av.guidelines}}" target="_blank") Submission guidelines
                  .checkbox.col-md-6.col-xs-12(ng-if="av.type=='checkbox'", ng-repeat="(option, enabled) in av.options", ng-class="{'inline':av.inline, 'column-left':$odd}")
                    label
                      input(type="checkbox", name="{{::item}}", ng-model="av.options[option]", ng-click="validate(item, av)")
                      | {{ ::option}}
                  .radio.col-md-12.col-xs-12(ng-if="av.type=='radio'", ng-repeat="option in av.options", ng-class="{'inline':av.inline}", style="margin: 0;")
                    label
                      input(type="radio", ng-model="report.data.criticalFactors.fields[item].value", value="{{ ::option}}")
                      | {{ ::option}}
                  .number.col-xs-12(ng-if="av.type=='number'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="number", name="{{::item}}" placeholder="{{ av.placeholder ? av.placeholder : 'Number between '+ av.options.min +' and '+av.options.max }}", ng-model="report.data.criticalFactors.fields[item].value", ng-blur="validate(item, av)")
                  .text.col-xs-12(ng-if="av.type=='text'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="text", name="{{::item}}" placeholder="{{ ::av.prompt }}", ng-model="report.data.criticalFactors.fields[item].value", ng-required="report.data.criticalFactors.fields[av.constraint.field].options[av.constraint.option]" ng-blur="validate(item, av)")
                  .select.col-md-6.col-xs-12.no-padding(ng-if="av.type=='dropdown'", ng-class="{'inline':av.inline, 'column-left':$odd}")
                    select.form-control(ng-options="option for option in av.options", ng-model="report.data.criticalFactors.fields[item].value")
                      option(value="") Select option
                  .textarea.col-xs-12(ng-if="av.type=='textarea'")
                    textarea.form-control(rows="3", ng-model="report.data.criticalFactors.fields[item].value")
                  .datetime-input.col-xs-12(ng-if="av.type=='datetime'")
                    label(for="datetime")
                      input.form-control(type="datetime", ng-model="report.data.criticalFactors.fields[item].value", ac-datetime-picker, show-only-date="av.showOnlyDate", show-only-time="av.showOnlyTime", max-date-today="av.maxDateToday" placeholder="{{av.placeholder ? av.placeholder : 'Click to select date'}}")
                  .error.col-xs-12.no-padding(ng-if="acHotZoneForm[item].$invalid") {{::av.errorMessage}}
                .options.col-xs-12.col-md-4

            .row
              .col-xs-12
                h4.form-subsection Alpine Terrain Avoidance
            .fields-group.col-xs-12.no-padding(style='margin: 0;')
              .field.col-xs-12(ng-repeat="(item, av) in report.data.alpineTerrainAvoidance.fields", ng-if="av.type!=='calculated'")

                h4.field-title.col-xs-12.no-padding(ng-if="av.title === undefined && av.subTitle === undefined")
                  strong {{ ::av.prompt }}
                h4.field-title.col-xs-12.no-padding(ng-if="av.title !== undefined && av.title !== null")
                  strong {{ ::av.title }}

                h5.col-xs-12.no-padding(ng-if="av.subTitle !== undefined") {{ ::av.subTitle }}

                .options.col-xs-12.col-md-8
                  .help-text(ng-if="av.helpText")
                    p
                      i.fa.fa-question-circle
                      span {{ ::av.helpText}}
                      span(ng-if="av.guidelines")
                        a(href="{{ ::av.guidelines}}" target="_blank") Submission guidelines
                  .checkbox.col-md-6.col-xs-12(ng-if="av.type=='checkbox'", ng-repeat="(option, enabled) in av.options", ng-class="{'inline':av.inline, 'column-left':$odd, 'col-md-12': av.prompt==='Elevation band:'}", ng-style="av.prompt==='Elevation band:' && {'margin': '0'}")
                    label
                      input(type="checkbox", name="{{::item}}", ng-model="av.options[option]", ng-click="checkAll(option, av.options)")
                      | {{ ::option}}
                  .radio.col-md-12.col-xs-12(ng-if="av.type=='radio'", ng-repeat="option in av.options", ng-class="{'inline':av.inline}", style="margin-top: 0;")
                    label
                      input(type="radio", ng-model="report.data.alpineTerrainAvoidance.fields[item].value", value="{{ ::option}}")
                      | {{ ::option}}
                  .number.col-xs-12(ng-if="av.type=='number'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="number", name="{{::item}}" placeholder="{{ av.placeholder ? av.placeholder : 'Number between '+ av.options.min +' and '+av.options.max }}", ng-model="report.data.alpineTerrainAvoidance.fields[item].value", ng-blur="validate(item, av)")
                  .text.col-xs-12(ng-if="av.type=='text'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="text", name="{{::item}}" placeholder="{{ ::av.prompt }}", ng-model="report.data.alpineTerrainAvoidance.fields[item].value", ng-required="report.data.alpineTerrainAvoidance.fields[av.constraint.field].options[av.constraint.option]" ng-blur="validate(item, av)")
                  .select.col-md-6.col-xs-12.no-padding(ng-if="av.type=='dropdown'", ng-class="{'inline':av.inline, 'column-left':$odd}")
                    select.form-control(ng-options="option for option in av.options", ng-model="report.data.alpineTerrainAvoidance.fields[item].value")
                      option(value="") Select option
                  .textarea.col-xs-12(ng-if="av.type=='textarea'")
                    textarea.form-control(rows="3", ng-model="report.data.alpineTerrainAvoidance.fields[item].value")
                  .datetime-input.col-xs-12(ng-if="av.type=='datetime'")
                    label(for="datetime")
                      input.form-control(type="datetime", ng-model="report.data.alpineTerrainAvoidance.fields[item].value", ac-datetime-picker, show-only-date="av.showOnlyDate", show-only-time="av.showOnlyTime", max-date-today="av.maxDateToday" placeholder="{{av.placeholder ? av.placeholder : 'Click to select date'}}")
                  .error.col-xs-12.no-padding(ng-if="acHotZoneForm[item].$invalid") {{::av.errorMessage}}
                .options.col-xs-12.col-md-4

            .row
              .col-xs-12
                h4.form-subsection Treeline Terrain Avoidance
            .fields-group.col-xs-12.no-padding(style='margin: 0;')
              .field.col-xs-12(ng-repeat="(item, av) in report.data.treelineTerrainAvoidance.fields", ng-if="av.type!=='calculated'")

                h4.field-title.col-xs-12.no-padding(ng-if="av.title === undefined && av.subTitle === undefined")
                  strong {{ ::av.prompt }}
                h4.field-title.col-xs-12.no-padding(ng-if="av.title !== undefined && av.title !== null")
                  strong {{ ::av.title }}

                h5.col-xs-12.no-padding(ng-if="av.subTitle !== undefined") {{ ::av.subTitle }}

                .options.col-xs-12.col-md-8
                  .help-text(ng-if="av.helpText")
                    p
                      i.fa.fa-question-circle
                      span {{ ::av.helpText}}
                      span(ng-if="av.guidelines")
                        a(href="{{ ::av.guidelines}}" target="_blank") Submission guidelines
                  .checkbox.col-md-6.col-xs-12(ng-if="av.type=='checkbox'", ng-repeat="(option, enabled) in av.options", ng-class="{'inline':av.inline, 'column-left':$odd, 'col-md-12': av.prompt==='Elevation band:'}", ng-style="av.prompt==='Elevation band:' && {'margin': '0'}")
                    label
                      input(type="checkbox", name="{{::item}}", ng-model="av.options[option]", ng-click="checkAll(option, av.options)")
                      | {{ ::option}}
                  .radio.col-md-12.col-xs-12(ng-if="av.type=='radio'", ng-repeat="option in av.options", ng-class="{'inline':av.inline}", style="margin-top: 0;")
                    label
                      input(type="radio", ng-model="report.data.treelineTerrainAvoidance.fields[item].value", value="{{ ::option}}")
                      | {{ ::option}}
                  .number.col-xs-12(ng-if="av.type=='number'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="number", name="{{::item}}" placeholder="{{ av.placeholder ? av.placeholder : 'Number between '+ av.options.min +' and '+av.options.max }}", ng-model="report.data.treelineTerrainAvoidance.fields[item].value", ng-blur="validate(item, av)")
                  .text.col-xs-12(ng-if="av.type=='text'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="text", name="{{::item}}" placeholder="{{ ::av.prompt }}", ng-model="report.data.treelineTerrainAvoidance.fields[item].value", ng-required="report.data.treelineTerrainAvoidance.fields[av.constraint.field].options[av.constraint.option]" ng-blur="validate(item, av)")
                  .select.col-md-6.col-xs-12.no-padding(ng-if="av.type=='dropdown'", ng-class="{'inline':av.inline, 'column-left':$odd}")
                    select.form-control(ng-options="option for option in av.options", ng-model="report.data.treelineTerrainAvoidance.fields[item].value")
                      option(value="") Select option
                  .textarea.col-xs-12(ng-if="av.type=='textarea'")
                    textarea.form-control(rows="3", ng-model="report.data.treelineTerrainAvoidance.fields[item].value")
                  .datetime-input.col-xs-12(ng-if="av.type=='datetime'")
                    label(for="datetime")
                      input.form-control(type="datetime", ng-model="report.data.treelineTerrainAvoidance.fields[item].value", ac-datetime-picker, show-only-date="av.showOnlyDate", show-only-time="av.showOnlyTime", max-date-today="av.maxDateToday" placeholder="{{av.placeholder ? av.placeholder : 'Click to select date'}}")
                  .error.col-xs-12.no-padding(ng-if="acHotZoneForm[item].$invalid") {{::av.errorMessage}}
                .options.col-xs-12.col-md-4

            .row
              .col-xs-12
                h4.form-subsection Below Treeline Terrain Avoidance
            .fields-group.col-xs-12.no-padding(style='margin: 0;')
              .field.col-xs-12(ng-repeat="(item, av) in report.data.belowTreelineTerrainAvoidance.fields", ng-if="av.type!=='calculated'")

                h4.field-title.col-xs-12.no-padding(ng-if="av.title === undefined && av.subTitle === undefined")
                  strong {{ ::av.prompt }}
                h4.field-title.col-xs-12.no-padding(ng-if="av.title !== undefined && av.title !== null")
                  strong {{ ::av.title }}

                h5.col-xs-12.no-padding(ng-if="av.subTitle !== undefined") {{ ::av.subTitle }}

                .options.col-xs-12.col-md-8
                  .help-text(ng-if="av.helpText")
                    p
                      i.fa.fa-question-circle
                      span {{ ::av.helpText}}
                      span(ng-if="av.guidelines")
                        a(href="{{ ::av.guidelines}}" target="_blank") Submission guidelines
                  .checkbox.col-md-6.col-xs-12(ng-if="av.type=='checkbox'", ng-repeat="(option, enabled) in av.options", ng-class="{'inline':av.inline, 'column-left':$odd, 'col-md-12': av.prompt==='Elevation band:'}", ng-style="av.prompt==='Elevation band:' && {'margin': '0'}")
                    label
                      input(type="checkbox", name="{{::item}}", ng-model="av.options[option]", ng-click="checkAll(option, av.options)")
                      | {{ ::option}}
                  .radio.col-md-12.col-xs-12(ng-if="av.type=='radio'", ng-repeat="option in av.options", ng-class="{'inline':av.inline}", style="margin-top: 0;")
                    label
                      input(type="radio", ng-model="report.data.belowTreelineTerrainAvoidance.fields[item].value", value="{{ ::option}}")
                      | {{ ::option}}
                  .number.col-xs-12(ng-if="av.type=='number'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="number", name="{{::item}}" placeholder="{{ av.placeholder ? av.placeholder : 'Number between '+ av.options.min +' and '+av.options.max }}", ng-model="report.data.belowTreelineTerrainAvoidance.fields[item].value", ng-blur="validate(item, av)")
                  .text.col-xs-12(ng-if="av.type=='text'", ng-class="{'inline':av.inline}")
                    label
                      input.form-control(type="text", name="{{::item}}" placeholder="{{ ::av.prompt }}", ng-model="report.data.belowTreelineTerrainAvoidance.fields[item].value", ng-required="report.data.belowTreelineTerrainAvoidance.fields[av.constraint.field].options[av.constraint.option]" ng-blur="validate(item, av)")
                  .select.col-md-6.col-xs-12.no-padding(ng-if="av.type=='dropdown'", ng-class="{'inline':av.inline, 'column-left':$odd}")
                    select.form-control(ng-options="option for option in av.options", ng-model="report.data.belowTreelineTerrainAvoidance.fields[item].value")
                      option(value="") Select option
                  .textarea.col-xs-12(ng-if="av.type=='textarea'")
                    textarea.form-control(rows="3", ng-model="report.data.belowTreelineTerrainAvoidance.fields[item].value")
                  .datetime-input.col-xs-12(ng-if="av.type=='datetime'")
                    label(for="datetime")
                      input.form-control(type="datetime", ng-model="report.data.belowTreelineTerrainAvoidance.fields[item].value", ac-datetime-picker, show-only-date="av.showOnlyDate", show-only-time="av.showOnlyTime", max-date-today="av.maxDateToday" placeholder="{{av.placeholder ? av.placeholder : 'Click to select date'}}")
                  .error.col-xs-12.no-padding(ng-if="acHotZoneForm[item].$invalid") {{::av.errorMessage}}
                .options.col-xs-12.col-md-4

        .footer-buttons.col-xs-12.no-padding
          input.btn.btn-default.btn-styled(type="button", value="Back", ng-click="goBack(acHotZoneForm.$dirty)")
          .submit-btn
            i.fa.fa-fw.fa-lg.fa-spinner.fa-spin(ng-show="submitting")
            input.btn.btn-default.btn-styled(type="button", ng-click="submitForm()", id="submit", value="SUBMIT", ng-disabled="report.latlng.length === 0 || submitting")

    div(ng-if="error")
        .alert.alert-danger(role="alert")
            p There was an error submitting your report.
            p(ng-if="errormsg") {{errormsg}}
