.panel
    .panel-body
        .row
            header.col-xs-12
                #header-inner
                    h1 {{ report.hotzoneid | acCapitalize }} Pilot Project
                    .section-label.print-link.pull-right(ng-click='print()')
                        i.fa.fa-external-link
                        span &nbsp; Print Friendly
            section#forecast-date.col-xs-12
                #date-issued.forecast-date-inner
                    | Date Issued &nbsp;
                    br.visible-xs-inline
                    span  {{ formatDate(report.report.dateissued) | date:'EEE MMMM d, h:mm a' | uppercase }}
                #date-valid.forecast-date-inner(style='width: 574px;')
                    | &nbsp; Valid Until &nbsp;
                    br.visible-xs-inline
                    span {{ formatDate(report.report.datevalid) | date:'EEE MMMM d, h:mm a' | uppercase }}
                #date-issued.forecast-date-inner(ng-if='report.user')
                    | Forecaster &nbsp;
                    br.visible-xs-inline
                    span {{ report.user }}
                #date-valid.forecast-date-inner(ng-if='report.user', style='width: 574px;')

            section#forecast-body.col-xs-12.col-md-12
                #highlights
                    h2 {{report.report.headline}}

                .upload-n-share(ng-if="report.report.uploads.length > 0")
                    .row-fluid.observation-title
                        | Uploads
                    .row
                        .col-sm-12.section-label
                            i.fa.fa-camera
                            span Uploads (click/tap to enlarge)

                        .col-sm-12
                            ul.list-inline
                                li(ng-repeat="url in report.report.thumbs")
                                    a(ng-href="{{::url}}", target="_blank")
                                    img(ng-src="{{::url}}", width="75", alt="{{::report.report.headline}}")
                .panel-group
                    .panel.panel-primary
                        .panel-heading
                            | Critical Factors Summary
                        .panel-body
                            .row
                                .col-xs-12
                                    | Critical factors influence avalanche hazard. The more critical factors, the greater the potential for avalanches.
                            .row
                                .col-xs-6.sm-pad-right
                                    strong.pull-right.text-right Persistent avalanche problem:
                                .col-xs-6.sm-pad-left
                                    | {{ report.report.data.criticalFactors.persistentAvalancheProblem || 'N/A' }}
                            .row
                                .col-xs-6.sm-pad-right
                                    strong.pull-right.text-right Slab avalanches in the last 48 hours:
                                .col-xs-6.sm-pad-left
                                    | {{ report.report.data.criticalFactors.slabAvalanches || 'N/A' }}
                            .row
                                .col-xs-6.sm-pad-right
                                    strong.pull-right.text-right Signs of instability:
                                .col-xs-6.sm-pad-left
                                    | {{ report.report.data.criticalFactors.instability || 'N/A' }}
                            .row
                                .col-xs-6.sm-pad-right
                                    strong.pull-right.text-right  Recent snowfall > 30cm:
                                .col-xs-6.sm-pad-left
                                    | {{ report.report.data.criticalFactors.recentSnowfall || 'N/A' }}
                            .row
                                .col-xs-6.sm-pad-right
                                    strong.pull-right.text-right  Recent rainfall:
                                .col-xs-6.sm-pad-left
                                    | {{ report.report.data.criticalFactors.recentRainfall || 'N/A' }}
                            .row
                                .col-xs-6.sm-pad-right
                                    strong.pull-right.text-right  Recent windloading:
                                .col-xs-6.sm-pad-left
                                    | {{ report.report.data.criticalFactors.recentWindloading || 'N/A' }}
                            .row
                                .col-xs-6.sm-pad-right
                                    strong.pull-right.text-right  Significant warming:
                                .col-xs-6.sm-pad-left
                                    | {{ report.report.data.criticalFactors.significantWarming || 'N/A' }}
                            .row
                                .col-xs-12.text-center
                                    strong Comments
                                .col-xs-12.text-center
                                    | {{ report.report.criticalFactors.criticalFactorsComments || 'N/A' }}
                    .panel.panel-primary
                        .panel-heading
                            | Terrain and Travel Advice
                        .panel-body
                            .row
                                .col-xs-12
                                    | To minimize risk, always:
                                    ul
                                        li Expose only one person at a time in avalanche terrain.
                                        li Group up only in safe locations well away from avalanche runout zones.
                                        li Avoid terrain traps whenever possible.
                            .row
                                .col-xs-12
                                    | And while this report is valid:
                                    ul
                                        li
                                            | AVOID terrain features marked with an &nbsp;
                                            i.fa.fa-times-circle-o
                                        li Follow the advice in the comments section.
                            .row
                                .col-xs-12.text-center
                                    h4 ALPINE:
                            .row
                                .col-xs-6
                                    .row
                                        .col-xs-12
                                            strong Aspect:
                                    .row
                                        .col-xs-12
                                            ul.terrain-list
                                                li(ng-repeat="(name, value) in report.report.data.alpineTerrainAvoidance.aspect", ng-class="{'terrain-highlight': value}")
                                                    .row
                                                        .col-xs-2
                                                            i.fa(ng-class="{'fa-circle-o': !value, 'fa-times-circle-o': value}")
                                                        .col-xs-10
                                                            span.pull-left {{ name }}
                                .col-xs-6
                                    .row
                                        .col-xs-12
                                            strong Terrain features:
                                    .row
                                        .col-xs-12
                                            ul.terrain-list
                                                li(ng-repeat="(name, value) in report.report.data.alpineTerrainAvoidance.terrainFeatures", ng-class="{'terrain-highlight': value}")
                                                    .row
                                                        .col-xs-2
                                                            i.fa(ng-class="{'fa-circle-o': !value, 'fa-times-circle-o': value}")
                                                        .col-xs-10
                                                            span.pull-left {{ name }}
                            .row
                                .col-xs-12.text-center
                                    strong Comments
                                .col-xs-12.text-center
                                    | {{ report.report.data.alpineTerrainAvoidance.terrainAvoidanceComments || 'N/A' }}
                            .row
                                .col-xs-12.text-center
                                    h4 TREELINE:
                            .row
                                .col-xs-6
                                    .row
                                        .col-xs-12
                                            strong Aspect:
                                    .row
                                        .col-xs-12
                                            ul.terrain-list
                                                li(ng-repeat="(name, value) in report.report.data.treelineTerrainAvoidance.aspect", ng-class="{'terrain-highlight': value}")
                                                    .row
                                                        .col-xs-2
                                                            i.fa(ng-class="{'fa-circle-o': !value, 'fa-times-circle-o': value}")
                                                        .col-xs-10
                                                            span.pull-left {{ name }}
                                .col-xs-6
                                    .row
                                        .col-xs-12
                                            strong Terrain features:
                                    .row
                                        .col-xs-12
                                            ul.terrain-list
                                                li(ng-repeat="(name, value) in report.report.data.treelineTerrainAvoidance.terrainFeatures", ng-class="{'terrain-highlight': value}")
                                                    .row
                                                        .col-xs-2
                                                            i.fa(ng-class="{'fa-circle-o': !value, 'fa-times-circle-o': value}")
                                                        .col-xs-10
                                                            span.pull-left {{ name }}
                            .row
                                .col-xs-12.text-center
                                    strong Comments
                                .col-xs-12.text-center
                                    | {{ report.report.data.treelineTerrainAvoidance.terrainAvoidanceComments || 'N/A' }}
                            .row
                                .col-xs-12.text-center
                                    h4 BELOW TREELINE:
                            .row
                                .col-xs-6
                                    .row
                                        .col-xs-12
                                            strong Aspect:
                                    .row
                                        .col-xs-12
                                            ul.terrain-list
                                                li(ng-repeat="(name, value) in report.report.data.belowTreelineTerrainAvoidance.aspect", ng-class="{'terrain-highlight': value}")
                                                    .row
                                                        .col-xs-2
                                                            i.fa(ng-class="{'fa-circle-o': !value, 'fa-times-circle-o': value}")
                                                        .col-xs-10
                                                            span.pull-left {{ name }}
                                .col-xs-6
                                    .row
                                        .col-xs-12
                                            strong Terrain features:
                                    .row
                                        .col-xs-12
                                            ul.terrain-list
                                                li(ng-repeat="(name, value) in report.report.data.belowTreelineTerrainAvoidance.terrainFeatures", ng-class="{'terrain-highlight': value}")
                                                    .row
                                                        .col-xs-2
                                                            i.fa(ng-class="{'fa-circle-o': !value, 'fa-times-circle-o': value}")
                                                        .col-xs-10
                                                            span.pull-left {{ name }}
                            .row
                                .col-xs-12.text-center
                                    strong Comments
                                .col-xs-12.text-center
                                    | {{ report.report.data.belowTreelineTerrainAvoidance.terrainAvoidanceComments || 'N/A' }}
                    .panel.panel-primary
                        .panel-heading
                            | More Information
                        .panel-body(ng-bind-html='infoSummary')

