.panel
    .panel-body(style="min-height: 500px;")
        .row
            .col-xs-12
                h3.ac-forecast-region Hot Zone
        .row
            .col-xs-12
                p
                    | Hot Zone! &nbsp;
