.panel
    .panel-body.ac-forecast-mini-body
        .row
            .col-xs-12
                h3.ac-hot-zone-headline Headline Goes Here
        .row
          .col-xs-12
                h4.ac-hot-zone-headline REGION
        .row.ac-forecast-dates
            .col-md-6
                dl
                    dd.small
                        strong.ac-text-primary DATE ISSUED
                    dt.small
                        span.ac-text-default {{ hotZone.dateIssued | date:'EEEE MMMM d, y h:mm a'  | uppercase }}
            .col-md-6
                dl
                    dd.small
                        strong.ac-text-primary VALID UNTIL
                    dt.small
                        span.ac-text-default {{ hotZone.validUntil | date:'EEEE MMMM d, y h:mm a' | uppercase }}
        .row
            .col-xs-12
                #infoAccordion.panel-group
                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#criticalSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | Critical Factors Summary
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #criticalSummary.panel-collapse.collapse
                            .panel-body
                                .row
                                    .col-xs-12
                                        | Critical factors influence avalanche hazard. The more critical factors, the greater the potential for avalanches.
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Persistent Avalanche Problem:
                                    .col-xs-6
                                        | Yes
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Slab avalanches in the last 48 hours:
                                    .col-xs-6
                                        | Yes
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Signs of instability:
                                    .col-xs-6
                                        | Unknown
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right  Recent snowfall > 30cm:
                                    .col-xs-6
                                        | No
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right  Recent rainfall:
                                    .col-xs-6
                                        | No
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right  Recent windloading:
                                    .col-xs-6
                                        | Yes
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right  Significant warming:
                                    .col-xs-6
                                        | Unknown
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Comments:
                                    .col-xs-6
                                        | More information about conditions would be helpful. If you are riding in this area, please submit to the MIN.
                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#terrainSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | Terrain Recommendations
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #terrainSummary.panel-collapse.collapse
                            .panel-body
                                .row
                                    .col-xs-12
                                        | Based on the critical factors, AVOIDING the following is recommended to reduce risk.
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Aspect:
                                    .col-xs-6
                                        | N, NE, E
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Elevation band:
                                    .col-xs-6
                                        | Alpine, Treeline
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Elevation below:
                                    .col-xs-6
                                        | N/A
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Elevation above:
                                    .col-xs-6
                                        | N/A
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Elevation between:
                                    .col-xs-6
                                        | 1800 and 3000 metres
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Slopes steeper than:
                                    .col-xs-6
                                        | 35 degrees
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Terrain features:
                                    .col-xs-6
                                        | Convex, Unsupported, Lee slopes, Text from "Other" terrain features comment box.
                                .row
                                    .col-xs-6
                                        strong.pull-right.text-right Comments:
                                    .col-xs-6
                                        | Text from terrain avoidance comments box.


                    .panel.panel-primary
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#travelSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | Travel Advice
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #travelSummary.panel-collapse.collapse
                            .panel-body
                                p
                                    | Text from travel advice statement 1 text box
                                p
                                    | Text from travel advice statement 2 text box
                                p
                                    | Text from travel advice statement 3 text box
                                p
                                    | Text from travel advice comments text box.

                    .panel.panel-primary(style="margin-bottom: 10px;")
                        .panel-heading
                            h4.panel-title
                                a(href='', data-target="#infoSummary", data-toggle='collapse', data-parent='#infoAccordion')
                                    | About
                                    i.fa.fa-fw.fa-level-down.fa-lg.pull-right
                                    small.pull-right click to expand
                        #infoSummary.panel-collapse.collapse
                            .panel-body(ng-bind-html='hotZone.infoSummary')
