.modal-body
  p Are you sure you want to exit?
  p You will lose all your data!
.modal-footer
  button.btn.btn-default(type='button', ng-click="discardAndExit()") Yes
  button.btn.btn-primary(type='button', ng-click="stayOnThePage()") No
