.min-form
    form(name="acMinForm", ng-submit="submitForm()", ng-show="!report.subid", role="form", )
        .div(class="col-xs-12 col-md-4 form-left-column")
          h2.form-subtitle Report Details

          .form-group(ng-class="{'has-error': !acMinForm.title.$valid}")
            label(for="title")
              i.fa.fa-newspaper-o
              |  Report title
            input.form-control(type="text", name="title", ng-model="report.title", required)
          .form-group(ng-class="{'has-error': !acMinForm.datetime.$valid}")
            label(for="datetime")
              i.fa.fa-clock-o
              |  Date and Time
            input.form-control(type="datetime", name="datetime", ng-model="report.datetime", ac-datetime-picker)
          .form-group(ng-class="{'has-error': !acMinForm.latlng.$valid}")
            label(for="latlng")
              i.fa.fa-map-marker
              |  Location
            div(ac-location-select, latlng="report.latlng", style="height: 300px; width: 100%; margin: 10px 0;")
            input.form-control(type="text", name="latlng", ng-model="report.latlng", placeholder="Drop pin on map to set location", required)
          .form-group
            label(for="uploads")
              i.fa.fa-image
              |  Add photo
              small  .jpg or .png
            input.form-control(type="file", name="uploads", file-model="report.files", accept=".png,.jpg,.jpeg", multiple)
            div {{ report.files.length }} photos added

        div(class="col-xs-12 col-md-8 form-right-column")
          h2.form-subtitle Observations

          div.announcement
            .announcement-left
              | new
            .announcement-right
              | You can now submit more detailed MIN data on observation specific tabs.
              | Add information on one, many or all tabs them click SUBIMT at the bottom.
          tabset.observation-tabs(type="pills")
            //
              Quick report
            tab(ac-tab-style="{{getTabExtraClasses('quickReport')}}")
              tab-heading(style="text-transform: uppercase;")
                | Quick
              | The Quick Report is your simplified "all in one" observation report.
              br
              | Use it to describe the riding, avalanche, snow and weather conditions.
              .panel-group
                .panel.panel-default
                  .panel-heading(style="background-color: black; color: white;")
                    h4.panel-title
                      | Riding conditions:
                  .panel-body
                    .panel-group
                      .panel.panel-default(ng-repeat="(item, ridingCondition) in report.obs.quickReport.ridingConditions")
                        .panel-heading
                          h4.panel-title
                            strong {{ ridingCondition.prompt }}
                        .panel-body
                          .form-group
                          .checkbox(ng-if="ridingCondition.type=='multiple'", ng-repeat="(option, enabled) in ridingCondition.options")
                            label
                              input(type="checkbox", ng-model="ridingCondition.options[option]")
                              | {{option}}

                          .radio(ng-if="ridingCondition.type=='single'", ng-repeat="option in ridingCondition.options")
                            label
                              input(type="radio", ng-model="ridingCondition.selected", ng-value="option")
                              | {{option}}

                .panel.panel-default
                  .panel-heading(style="background-color: black; color: white;")
                    h4.panel-title
                      strong Avalanche conditions
                  .panel-body
                    .form-group
                      .checkbox
                        label
                          input(type="checkbox", ng-model="report.obs.quickReport.avalancheConditions.slab")
                          | Slab avalanches today or yesterday.
                      .checkbox
                        label
                          input(type="checkbox", ng-model="report.obs.quickReport.avalancheConditions.sound")
                          | Whumphing or drum-like sounds or shooting cracks.
                      .checkbox
                        label
                          input(type="checkbox", ng-model="report.obs.quickReport.avalancheConditions.snow")
                          | 30cm + of new snow, or significant drifitng, or rain in the last 48 hours.
                      .checkbox
                        label
                          input(type="checkbox", ng-model="report.obs.quickReport.avalancheConditions.temp")
                          | Rapid temperature rise to near zero degrees or wet surface snow.
                .form-group
                  label Comments
                  textarea.form-control(rows="3", ng-model="report.obs.quickReport.comment")

            tab(ng-repeat="(key, tab) in additionalFields", ac-tab-style="{{getTabExtraClasses(key)}}")
              tab-heading(style="text-transform: uppercase;")
               | {{tab.name}}
              | {{tab.text}}

              .panel-group(style="margin-top: 20px;")
                .panel.panel-default(ng-repeat="(item, av) in report.obs[key].fields")
                  .panel-heading
                    h4.panel-title
                      strong {{ av.prompt }}
                  .panel-body
                    .form-group
                    p {{av.helpText}}
                    .checkbox(ng-if="av.type=='checkbox'", ng-repeat="(option, enabled) in av.options")
                      label
                        input(type="checkbox", ng-model="av.options[option]")
                        | {{option}}

                    .radio(ng-if="av.type=='radio'", ng-repeat="option in av.options")
                      label
                        input(type="radio", ng-model="av.value", value="{{option}}")
                        | {{option}}
                    .number(ng-if="av.type=='number'")
                      label
                        input(type="number", max="{{av.options.max}}", min="{{av.options.min}}", ng-model="av.value")
                    .select(ng-if="av.type=='dropdown'")
                      select(ng-options="option for option in av.options", ng-model="av.value")
                    .textarea(ng-if="av.type=='textarea'")
                      textarea.form-control(rows="3", ng-model="av.value")
                    .datetime-input(ng-if="av.type=='datetime'")
                      label(for="datetime")
                      input.form-control(type="datetime", name="datetime-avalanche", ng-model="av.value", ac-datetime-picker, placeholder="Click to select date")

        input.btn.btn-default(type="submit", id="submit", value="Submit", ng-disabled="minsubmitting", style="border-radius:0; background-color: rgb(0, 86, 183); color: white;")
        i.fa.fa-fw.fa-lg.fa-spinner.fa-spin(ng-show="minsubmitting")

    div(ng-show="report.subid")
        .alert.alert-success(role="alert")
            | Your report was successfully submited.
        .well
            H4 Share this report:
            ul.list-inline
                li
                    a(ng-href="https://twitter.com/intent/tweet?status={{report.shareUrl}}")
                        i.fa.fa-twitter.fa-fw.fa-lg
                li
                    a(ng-href="https://www.facebook.com/sharer/sharer.php?u={{report.shareUrl}}")
                        i.fa.fa-facebook.fa-fw.fa-lg
                li
                    a(ng-href="https://plus.google.com/share?url={{report.shareUrl}}")
                        i.fa.fa-google-plus.fa-fw.fa-lg
    div(ng-show="minerror")
        .alert.alert-danger(role="alert")
            p There was an error submittting you report.
            p(ng-if="minerrormsg") {{minerrormsg}}
            div(ng-if="validationErrors") Please checkout the following fields:
              p(ng-repeat="(tab, fields) in validationErrors")
                span.firstCapital {{tab}} - {{fields}}

