.min-form
    form(role="form", ng-show="!report.subid && !minerror")
        .form-group
          label(for="report-title")
            i.fa.fa-newspaper-o
            |  Report title
          input#report-title.form-control(type="text", ng-model="report.title")
        .form-group
          label(for="report-datetime")
            i.fa.fa-clock-o
            |  Date and Time
          input#report-datetime.form-control(type="datetime-local", ng-model="report.datetime")
        .form-group

        .form-group
          label(for="report-location")
            i.fa.fa-map-marker
            |  Location
          div(ac-location-select, latlng="report.latlng", style="height: 300px; width: 100%; margin: 10px 0;")
          .form-control
            span(ng-if="!report.latlng[0]") Drop pin on map to set location
            span(ng-if="report.latlng[0]")
              | ({{ report.latlng[0] }}, {{ report.latlng[1] }})
        .form-group
          label(for="report-files")
            i.fa.fa-image
            |  Add photo or video
          input#report-files.form-control(type="file", file-model="report.files", multiple)
          div {{ report.files.length }} photos added

        .panel-group
          .panel.panel-default
            .panel-heading(style="background-color: black; color: white;")
              h4.panel-title
                | Riding conditions
            .panel-body
                .panel-group
                  .panel.panel-default(ng-repeat="(item, ridingCondition) in report.ridingConditions")
                    .panel-heading
                        h4.panel-title
                            strong {{ ridingCondition.prompt }}
                    .panel-body
                        .form-group
                        .checkbox(ng-if="ridingCondition.type=='multiple'", ng-repeat="(option, enabled) in ridingCondition.options")
                          label
                            input(type="checkbox", ng-model="report.ridingConditions[item].options[option]")
                            | {{option}}

                        .radio(ng-if="ridingCondition.type=='single'", ng-repeat="option in ridingCondition.options")
                          label
                            input(type="radio", ng-model="report.ridingConditions[item].selected", ng-value="option")
                            | {{option}}

          .panel.panel-default
            .panel-heading(style="background-color: black; color: white;")
                h4.panel-title
                    strong Avalanche conditions
            .panel-body
              .form-group
                .checkbox
                  label
                    input(type="checkbox", ng-model="report.avalancheConditions.slab")
                    | Slab avalanches today or yesterday.
                .checkbox
                  label
                    input(type="checkbox", ng-model="report.avalancheConditions.sound")
                    | Whumphing or drum-like sounds or shooting cracks.
                .checkbox
                  label
                    input(type="checkbox", ng-model="report.avalancheConditions.snow")
                    | 30cm + of new snow, or significant drifitng, or rain in the last 48 hours.
                .checkbox
                  label
                    input(type="checkbox", ng-model="report.avalancheConditions.temp")
                    | Rapid temperature rise to near zero degrees or wet surface snow.
        .form-group
          label Comments
          textarea.form-control(rows="3", ng-model="report.comment")
        button.btn.btn-default(type="button", ng-click="submitForm()", ng-disabled="minsubmitting", style="border-radius:0; background-color: rgb(0, 86, 183); color: white;")
            i.fa.fa-fw.fa-lg.fa-spinner.fa-spin(ng-show="minsubmitting")
            span(ng-hide="minsubmitting") SUBMIT REPORT
            span(ng-show="minsubmitting") SUBMITING REPORT

    div(ng-show="report.subid")
        .alert.alert-success(role="alert")
            | Your report was successfully submited.
        .well
            H4 Share this report:
            ul.list-inline
                li
                    a(ng-href="https://twitter.com/intent/tweet?status={{report.shareUrl}}")
                        i.fa.fa-twitter.fa-fw.fa-lg
                li
                    a(ng-href="https://www.facebook.com/sharer/sharer.php?u={{report.shareUrl}}")
                        i.fa.fa-facebook.fa-fw.fa-lg
                li
                    a(ng-href="https://plus.google.com/share?url={{report.shareUrl}}")
                        i.fa.fa-google-plus.fa-fw.fa-lg
    div(ng-show="minerror")
        .alert.alert-danger(role="alert")
            p There was an error submittting you report.
            p {{minerrormsg}}

