.modal-body
  input.btn.btn-default.save-button(type="button", value="Save and close", ng-click="save()")
  div(ac-location-select, latlng="params.latlng", style="height: 100%; width: 100%;" ng-if="show")

