#minForm.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span close
        h4.modal-title Mountain Information Network Report
      .modal-body
        div(ac-min-report-form)