#mobileMapPopup.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
          .modal-body
          |                 
          a.pull-right(href='#', data-dismiss='modal', style='position: absolute; right: 10px; top: 10px;')
            i.fa.fa-close.fa-lg