.min-form
    form(name="acMinForm", ng-submit="submitForm()", novalidate, ng-if="!report.subid", role="form", ac-submission-form-validator)
        div.form-fields.col-xs-12.no-padding
          div.col-xs-12.col-md-4.form-left-column
            .required-info.clearfix
              h2.form-subtitle Step 1. Required Info

              .required-info-data.col-xs-12
                .form-group(ng-class="{'has-error': !acMinForm.title.$valid && acMinForm.title.$dirty }")
                  label(for="title")
                    | Name your report
                  input.form-control(type="text", name="title", ng-model="report.title", placeholder="e.g. Upper Raft River", required)
                .form-group(ng-class="{'has-error': !acMinForm.datetime.$valid}")
                  label(for="datetime")
                    |  Submission date and time
                  input.form-control(type="datetime", name="datetime", ng-model="report.datetime", ac-datetime-picker)
                .form-group(ng-class="{'has-error': invalidLatLng}")
                  label(for="latlng")
                    |  Enter location by map
                  .btn-map(ng-click="openMapModal()")
                    i.fa.fa-map-o
                  label
                    | or enter location by Lat Long
                  input.form-control.latlng(type="text", ng-class="{'modified': tempLatlngModified}", name="tempLatlng", ac-enter="saveLocation()" ng-model="report.tempLatlng", placeholder="e.g. 51.522, -188.883", required)
                  .save-location(role="button", ng-if="tempLatlngModified", ng-click="saveLocation()")
                    i.fa.fa-map-marker
                  .error.col-xs-12.no-padding(ng-if="invalidLatLng") Invalid coordinates format
            .uploads
              h2.form-subtitle Step 2. Uploads

              p Add a photo (.jpg or .png) to help tell your story.

              .form-group
                .col-xs-12.no-padding.btn-file
                  .col-xs-3.no-padding
                      span.btn.btn-default
                        | Browse
                  input.col-xs-9.no-padding(type="text", readonly="readonly", placeholder=".jpg or .png" value="{{ report.files.length ? report.files.length + ' photos added' : null}}")
                  input(type="file", name="uploads", file-model="report.files", accept=".png,.jpg,.jpeg", multiple)


          div(class="col-xs-12 col-md-8 form-right-column")
            h2.form-subtitle#top Step 3. Observations

            .announcement
              | Add information on one, some, or all tabs, then click SUBMIT at the bottom.
            tabset.observation-tabs(type="pills")
              //
                Quick report
              tab(ac-tab-style="{{getTabExtraClasses('quickReport')}}")
                tab-heading.tab-head
                  | Quick
                .tab-text.col-xs-12.col-md-8.no-padding
                  | Use the Quick Report to quickly share information about your trip. You can create a comprehensive
                  | report by adding more details in the Avalanche, Snowpack, Weather, and/or Incident tabs.
                .fields-group.col-xs-12.no-padding
                  .field.col-xs-12(ng-repeat="(item, ridingCondition) in report.obs.quickReport.ridingConditions")
                    h4.field-title.col-xs-12.no-padding
                      strong {{ ::ridingCondition.prompt }}
                    .options.col-xs-12.col-md-8
                      .checkbox.col-xs-12.col-md-6.inline(ng-if="ridingCondition.type=='multiple'",
                      ng-repeat="(option, enabled) in ridingCondition.options", ng-class="{'column-left':$odd}")
                        label
                          input(type="checkbox", name="{{ ::item}}", ng-model="ridingCondition.options[option]")
                          | {{ ::option}}
                      .radio.col-xs-12.col-md-6.inline(ng-if="ridingCondition.type=='single'", ng-repeat="option in ridingCondition.options")
                        label
                          input(type="radio", name="{{ ::item}}", ng-model="ridingCondition.selected", ng-value="option")
                          | {{ ::option}}
                    .options.col-xs-12.col-md-4

                  .field.col-xs-12
                    h4.field-title.col-xs-12.no-padding
                      strong Avalanche conditions
                    .options.col-xs-12.col-md-8
                      .checkbox.col-xs-12
                        label
                          input(type="checkbox", name="slab", ng-model="report.obs.quickReport.avalancheConditions.slab")
                          | Slab avalanches today or yesterday.
                      .checkbox.col-xs-12
                        label
                          input(type="checkbox", name="sound", ng-model="report.obs.quickReport.avalancheConditions.sound")
                          | Whumpfing or drum-like sounds or shooting cracks.
                      .checkbox.col-xs-12
                        label
                          input(type="checkbox", name="snow", ng-model="report.obs.quickReport.avalancheConditions.snow")
                          | 30cm + of new snow, or significant drifitng, or rain in the last 48 hours.
                      .checkbox.col-xs-12
                        label
                          input(type="checkbox", name="temp" ng-model="report.obs.quickReport.avalancheConditions.temp")
                          | Rapid temperature rise to near zero degrees or wet surface snow.
                    .options.col-xs-12.col-md-4
                  .field.col-xs-12
                    h4.field-title.col-xs-12.no-padding
                      strong Comments
                    .options.col-xs-12.col-md-8
                      .textarea.col-xs-12
                        textarea.form-control(rows="3", name="comment" ng-model="report.obs.quickReport.comment", style="resize: vertical;")
                    .options.col-xs-12.col-md-4
              tab(ng-repeat="(key, tab) in additionalFields", ac-tab-style="{{getTabExtraClasses(key)}}")
                tab-heading.tab-head
                 | {{ ::tab.name}}
                .tab-text.col-xs-12.col-md-8.no-padding(ng-bind-html="tab.text")

                .fields-group.col-xs-12.no-padding
                  .field.col-xs-12(ng-repeat="(item, av) in report.obs[key].fields")
                    h4.field-title.col-xs-12.no-padding
                      strong {{ ::av.prompt }}
                    .options.col-xs-12.col-md-8
                      .help-text(ng-if="av.helpText")
                        p
                          i.fa.fa-question-circle
                          span {{ ::av.helpText}}
                        span(ng-if="av.guidelines")
                          a(href="{{ ::av.guidelines}}" target="_blank") Submission guidelines
                      .checkbox.col-md-6.col-xs-12(ng-if="av.type=='checkbox'", ng-repeat="(option, enabled) in av.options", ng-class="{'inline':av.inline, 'column-left':$odd}")
                        label
                          input(type="checkbox", name="{{::item}}", ng-model="av.options[option]", ng-click="validate(item, av)")
                          | {{ ::option}}
                      .radio.col-md-6.col-xs-12(ng-if="av.type=='radio'", ng-repeat="option in av.options", ng-class="{'inline':av.inline, 'column-left':$odd}")
                        label
                          input(type="radio", ng-model="report.obs[key].fields[item].value", value="{{ ::option}}")
                          | {{ ::option}}
                      .number.col-xs-12(ng-if="av.type=='number'", ng-class="{'inline':av.inline}")
                        label
                          input(type="number", name="{{::item}}" placeholder="Number between {{ ::av.options.min}} and {{ ::av.options.max}}", ng-model="report.obs[key].fields[item].value", ng-blur="validate(item, av)")
                      .text.col-xs-12(ng-if="av.type=='text'", ng-class="{'inline':av.inline}")
                        label
                          input(type="text", name="{{::item}}" placeholder="{{ ::av.prompt }}", ng-model="report.obs[key].fields[item].value", ng-required="report.obs[key].fields[av.constraint.field].options[av.constraint.option]" ng-blur="validate(item, av)")
                      .select.col-md-6.col-xs-12.no-padding(ng-if="av.type=='dropdown'", ng-class="{'inline':av.inline, 'column-left':$odd}")
                        select(ng-options="option for option in av.options", ng-model="report.obs[key].fields[item].value")
                          option(value="") Select option
                      .textarea.col-xs-12(ng-if="av.type=='textarea'")
                        textarea.form-control(rows="3", ng-model="report.obs[key].fields[item].value")
                      .datetime-input.col-xs-12(ng-if="av.type=='datetime'")
                        label(for="datetime")
                          input(type="datetime", ng-model="report.obs[key].fields[item].value", ac-datetime-picker, show-only-date="av.showOnlyDate" placeholder="Click to select date")
                      .error.col-xs-12.no-padding(ng-if="acMinForm[item].$invalid") {{::av.errorMessage}}
                    .options.col-xs-12.col-md-4

            .return-to-top.col-xs-12.no-padding
              input.btn.btn-default(type="button", value="Back to top", ng-click="scrollToTop()")
        input.btn.btn-default(type="button", value="Back", ng-click="goBack(acMinForm.$dirty)")
        .submit-btn
          i.fa.fa-fw.fa-lg.fa-spinner.fa-spin(ng-show="minsubmitting")
          input.btn.btn-default(type="submit", id="submit", value="SUBMIT", ng-disabled="acMinForm.$invalid || report.latlng.length === 0 || minsubmitting")

    div(ng-if="minerror")
        .alert.alert-danger(role="alert")
            p There was an error submittting you report.
            p(ng-if="minerrormsg") {{minerrormsg}}

