.min-form
    form(role="form", ng-show="!report.subid")
        .form-group
          label(for="report-title")
            i.fa.fa-newspaper-o
            |  Report title
          input#report-title.form-control(type="text", ng-model="report.title")
        .form-group
          label(for="report-datetime")
            i.fa.fa-clock-o
            |  Date and Time
          input#report-datetime.form-control(type="datetime-local", ng-model="report.datetime")
        .form-group

        .form-group
          label(for="report-location")
            i.fa.fa-map-marker
            |  Location
          div(ac-location-select, latlng="report.latlng", style="height: 300px; width: 100%;")
          .form-control
            span(ng-if="!report.latlng[0]") Drop pin on map to set location
            span(ng-if="report.latlng[0]")
              | ({{ report.latlng[0] }}, {{ report.latlng[1] }})
        .form-group
          label(for="report-files")
            i.fa.fa-clock-o
            |  Add photo
          input#report-files.form-control(type="file", file-model="report.files")
          div 0 photos added

        .panel-group(id="min-collapsible-form", role="tablist")
          .panel.panel-default
            .panel-heading(id="riding-conditions-heading", role="tap")
              h4.panel-title
                a(data-toggle="collapse", data-parent="#riding-conditions", href="#riding-conditions-collapse", aria-expanded="true", aria-controls="riding-conditions-collapse")
                  | Riding conditions
            .panel-collapse.collapse.in(id="riding-conditions-collapse", role="tabpanel", aria-labelledby="riding-conditions-collapse" )
              .panel-body
                .form-group(ng-repeat="(item, ridingCondition) in report.ridingConditions")
                  | {{ ridingCondition.prompt }}
                  .checkbox(ng-if="ridingCondition.type=='multiple'", ng-repeat="(option, enabled) in ridingCondition.options")
                    label
                      input(type="checkbox", ng-model="report.ridingConditions[item].options[option]")
                      | {{option}}

                  .radio(ng-if="ridingCondition.type=='single'", ng-repeat="option in ridingCondition.options")
                    label
                      input(type="radio", ng-model="report.ridingConditions[item].selected", ng-value="option")
                      | {{option}}
          //- .panel.panel-default
          //-   .panel-heading(id="avalanche-conditions", role="tap")
          //-     h4.panel-title
          //-       a(data-toggle="collapse", data-parent="#avalanche-conditions", href="#avalanche-conditions-collapse", aria-expanded="true", aria-controls="avalanche-conditions-collapse")
          //-         | Avalanche conditions
          //-   .panel-collapse.collapse.in(id="avalanche-conditions-collapse", role="tabpanel", aria-labelledby="avalanche-conditions-collapse" )
          //-     .panel-body
          //-       .form-group
          //-         .checkbox(ng-repeat="(option, enabled) in report.avalancheConditions.options")
          //-           label
          //-             input(type="checkbox", ng-model="report.avalancheConditions.options[option]")
          //-             | {{ option }}
        .form-group
          label Comments
          textarea.form-control(rows="3", ng-model="report.comment")
        button.btn.btn-default(type="button", ng-click="submitForm()", ng-disabled="minsubmitting")
            i.fa.fa-fw.fa-lg.fa-spinner.fa-spin(ng-show="minsubmitting")
            span(ng-hide="minsubmitting") SUBMIT REPORT
            span(ng-show="minsubmitting") SUBMITING REPORT

    div(ng-show="report.subid")
        .alert.alert-success(role="alert")
            | Your report was successfully submited.
        div(ac-social-share)

