.well
    H4 Share this report:
    ul.list-inline
        - var shareurl = "http://avalanche.ca"
        li
            a(href="https://twitter.com/intent/tweet?url="+shareurl)
                i.fa.fa-twitter.fa-fw.fa-lg
        li
            a(href="https://www.facebook.com/sharer/sharer.php?u="+shareurl)
                i.fa.fa-facebook.fa-fw.fa-lg
        li
            a(href="https://plus.google.com/share?url="+shareurl)
                i.fa.fa-google-plus.fa-fw.fa-lg