<div class="logo-row">
  <img class="wbc-logo" src="https://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_190/v1447367526/logos/OriginalSizeLogos/WBWhoosh_RedBlack.png" />
</div>
<div class="logo-row">
  <img class="xc-logo" src="https://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_55/v1447367393/logos/OriginalSizeLogos/EC_black.png" />
  <img class="whs-logo" src="https://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_136/v1447367393/logos/OriginalSizeLogos/Whistler_HeliSki_Logo.png"/>
</div>
