.row.ac-forecast-mini--whistler-links
    .col-xs-9
      div
        a(href='#') Weather Stations
      div
        a(target='_blank' href='http://www.whistlerblackcomb.com/') Whistler-Blackcomb Website
      div
        a(target='_blank' href='http://www.whistlerheliskiing.com/') Whistler Heli-skiing Website
      div
        a(target='_blank' href='http://www.extremelycanadian.com/') Extremely Canadian Website

    .col-xs-3.social-media
      div
        a(href='https://twitter.com/whistlerblckcmb')
          i.fa.fa-twitter-square
      div
        a(href='https://www.facebook.com/whistlerblackcomb')
          i.fa.fa-facebook-square
      div
        a(href='/api/forecasts/whistler-blackcomb.rss')
          i.fa.fa-rss-square
