<span class="pull-right">
  <img class="wbc-logo" src="https://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_136/v1447367526/logos/OriginalSizeLogos/WBWhoosh_RedBlack.png" />
  <img class="xc-logo" src="https://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_55/v1447367393/logos/OriginalSizeLogos/EC_black.png" />
</span>
<span class="pull-right">
  <img class="whs-logo" src="https://res.cloudinary.com/avalanche-ca/image/upload/c_scale,w_136/v1447367393/logos/OriginalSizeLogos/Whistler_HeliSki_Logo.png"/>
</span>
